
.main-segment {
    height: auto;
    z-index: 22222;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.container-seg{
    position: relative;
    left:50%;
    top:50%;
    width: 100%;
    transform: translate(-50%,-50%);
    max-width:900px;
    height:500px;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #505050;
    margin-top: 25rem;
    overflow: hidden;
    border-radius: 25px;
}

.head h4{
   margin-top: -5rem;
   position: relative;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item-seg{
    width:150px;
    height:180px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: px;
    box-shadow:  0 10px 20px #505050;
}

.item-seg:nth-child(1),
.item-seg:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item-seg:nth-child(3){
    left:70%;
}
.item-seg:nth-child(4){
    left:calc(70% + 180px);
}
.item-seg:nth-child(5){
    left:calc(70% + 360px);
}
.item-seg:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item-seg .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0px;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: 'Century Gothic',system-ui;
}

.content button {
    margin-top: 10px; /* Adjust the top margin to add space between buttons */
  }

.item-seg:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item-seg .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item-seg .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item-seg button{
    padding:10px 20px;
    border:none;
    position:relative;
    opacity: 0;
    width: 50%;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 50px;
    font-size: 16px;
    color: #1f011d;
    display:flexbox;
  justify-content: space-around;
    font-weight: 500;
    background-color: rgb(240, 202, 245);
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons-seg{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons-seg button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}
.buttons-seg button:hover{
    background-color: #bac383;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .container-seg {
        padding: 20px;
        margin-top: 2rem;
        max-width: 85%;
        height: 500px;
        margin-top: 15rem;
    }

    .item-seg {
        max-width: 100%;
        top: 80%;
    }
    /* .item-seg .name{
        margin-left: -70px;
        margin-top: -150px;
        visibility: hidden;
    } */
    /* .item-seg .des{
        margin-left: -70px;
        margin-top: 0px;
        visibility: hidden;
    } */
    .item-seg{
        width:100px;
        height:120px;
        background-position: 50% 50%;
        display: inline-block;
        transition: 0.5s;
        background-size: cover;
        position: absolute;
        z-index: 1;
        transform: translate(0,-50%);
        border-radius: px;
        box-shadow:  0 10px 20px #505050;
    }
    .item-seg:nth-child(1),
    .item-seg:nth-child(2){
        left:0;
        top:0;
        transform: translate(0,0);
        border-radius: 0;
        width:100%;
        height:100%;
        box-shadow: none;
        background-image: url("https://res.cloudinary.com/du1tas6pe/image/upload/v1705769685/segment%20bg/msgawvvtxc5ohmickgvl.png") !important;
    }
    .item-seg:nth-child(3){
        left:62%;
        /* background-image: url("https://res.cloudinary.com/du1tas6pe/image/upload/v1705769685/segment%20bg/msgawvvtxc5ohmickgvl.png") !important; */


    }
    .item-seg:nth-child(4){
        left:calc(44% + 180px);
        /* background-image: url("https://res.cloudinary.com/du1tas6pe/image/upload/v1705769685/segment%20bg/msgawvvtxc5ohmickgvl.png") !important; */


    }
    .item-seg:nth-child(5){
        left:calc(70% + 360px);
        /* background-image: url("https://res.cloudinary.com/du1tas6pe/image/upload/v1705769685/segment%20bg/msgawvvtxc5ohmickgvl.png") !important; */
    }

    
    .item-seg:nth-child(n+6){
        left:calc(50% + 660px);
        opacity: 0;
        background-image: none;

    }
    .buttons-seg{
        justify-content: space-between !important;
        width: 90%;
        display: flex; 
    }
    .item-seg button{
       left: -25%;
       width: 48%;
    }
    .item-seg .name{
        margin-top: -3.5rem;
        /* margin-top: -7rem; */
        margin-left:-4.4rem;
        /* margin-left:-5rem; */
        font-size: 35px;

    }
  
}
  