#home-header{
    object-fit: cover;
    width: 100%;
    height: 650px;
}

@media screen and (max-width: 800px) {
    #home-header{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}
}