.main_section {
  margin: 2rem;

  margin-top: 10rem;
}
.text_info .head_problem h1 {
  width: 100%;
  height: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-top: 3rem;
}

.text_info .statement h4 {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  padding: 2.5rem;
  color: rgba(255, 205, 249, 0.96);
  margin-top: 3rem;
}
/* technotron.css */
html,
body {
  scroll-behavior: smooth;
  /* background-color:rgb(40, 8, 52) */
  /* Optional: Hide horizontal scrollbar */
}

.tech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px; /* Adjust spacing between columns */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* overflow-y: hidden; */
  /* max-height: 100vh; */
  max-width: 700px;

  /* Responsive styles for smaller screens (tablets) */
}

.tech div {
  margin-top: 20px;
}

.tech > div:nth-child(-n + 2) {
  /* opacity: 0.5; */
}

.tech > div:nth-child(4n),
.tech > div:nth-child(4n - 1) {
  /* Style B */
  margin-left: 10rem; /* Adjust margin as needed */
  margin-top: 2rem;
}

.tech > div:last-child:nth-child(odd) {
  /* opacity: 0.5; */
}

@media (max-width: 1024px) {
  .tech {
    grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
  }
}

/* Responsive styles for even smaller screens (e.g., mobile) */
@media (max-width: 790px) {
  .tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-bottom: 5em;
    position: relative;
    /* transform: translateX(-10%); */
    /* grid-template-columns: repeat(
        1,
        1fr
      ) !important;  */
    /* One column on smaller screens */
    /* justify-content: center !important; */
    /* align-items: center !important; */
    /* width: 500px; */
  }
  .moon-icon,
  .moon-icon-2 {
    margin: 0 !important;
  }
}

/* Center the icons on the smallest screens */

.moon-icon,
.moon-icon-2 {
  position: relative;
  width: 180px; /* Adjust icon size */
  height: 180px; /* Adjust icon size */
  border-radius: 50%;
  box-shadow: 6px 6px 0px 0px rgb(255, 67, 255) !important;
  margin-bottom: 10px; /* Adjust spacing between icons */
  background-size: cover;
  background-position: center;
  padding: 4rem !important; /* Adjust the padding as needed */
  /* filter: brightness(100%) hue-rotate(60deg); Change hue-rotate value to adjust the color */
  /* overflow: hidden; */
}

.moon-icon:before,
.moon-icon-2:before {
  content: attr(data-name);
  position: absolute;
  top: 110%;
  /* left: 50%; */
  /* transform: translate(50%, 250%) rotate(-45deg); */
  font-size: 0.8rem; /* Adjust font size as needed */
  color: #fff; /* Adjust text color */
  font-weight: bold;

  white-space: nowrap;

  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 50% 80%, 0 100%) !important; */
}

.moon-icon-2 {
  margin-left: 10rem; /* Adjust margin as needed */
  margin-top: 2rem;
}

/*  */

/* Responsive styles for .moon-icon-2 on smaller screens */
@media (max-width: 1024px) {
  .moon-icon-2,
  .moon-icon {
    /* margin-left: 10rem; */
  }
}

/* Responsive styles for .moon-icon-2 on the smallest screens */
@media (max-width: 480px) {
  .moon-icon-2,
  .moon-icon {
    /* margin-left: 0; */
  }
}

.containereve {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
}
.containereve .toggle-menu {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: royalblue;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.containereve .toggle-menu:hover {
  box-shadow: none;
}
.containereve.active .toggle-menu {
  /* transform: rotateZ(45deg); */
}
.containereve .menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.containereve .menu li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateZ(calc(360deg / 6 * var(--i)));
  pointer-events: none;
}
.containereve .menu li .a {
  display: none;
  background: transparent;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: royalblue;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
    rotateZ(calc(-360deg / 6 * var(--i) + 60deg));
  pointer-events: visible;
  transition: 0.3s ease;
}
.containereve.active .menu li .a {
  background: transparent;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  top: 0;
  transform: translateX(-50%) rotateZ(calc(-360deg / 6 * var(--i)));
}

.containereve .menu li .a:hover {
  box-shadow: none;
}

/* Your CSS styles */
/* Your CSS styles */
.containereve p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  opacity: 0; /* Initially set to be invisible */
  transition: opacity 0.3s ease; /* Add transition for smooth visibility */
}

.containereve.active p {
  opacity: 1; /* Make the label visible when the container is active */
}

.containereve p {
  opacity: 1; /* Make the label visible when the container is active */
}

.containereve .menu li .a p {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0; /* Initially set to be invisible */
  transition: opacity 0.3s ease; /* Add transition for smooth visibility */
}

.containereve.active .menu li .a p {
  opacity: 1; /* Make the label visible when the container is active */
}

/* Add this CSS for the additional details */

/* Add your styles for rules, specs, and team bullet points here */

/*neww*/

/* technotron.css */

.additional-details {
  display: none;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Adjust the width as needed */
  max-width: 600px;
}

.details_each {
  position: relative;
  margin: 0 auto;

  width: 100%; /* Adjust the width as needed */
  max-width: 600px;
  color: #fff;
  border-bottom: 3px double rgb(248, 133, 248);
  padding: 1.5rem;
  padding-top: 3rem;
  /* border-radius: 15px; */
}

.details_each_ li {
  text-align: left !important;
  width: 110%;
  font-size: 20px;
  font-weight: 450;
}
.details_each_ h4 {
  margin-bottom: 1rem;
}
.details_each_ ul {
  margin-left: -2rem !important;
}
.details-content {
  top: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  color: rgb(184, 184, 184);
  background-color: transparent;
  text-align: center; /* Center the text horizontally */
}

.details-content h1 {
  text-decoration: underline 2px solid;
  text-transform: capitalize;
}

.additional-details.visible {
  display: block;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 2px solid purple;
  opacity: 1;
}

.additional-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.additional-details ul {
  list-style: none;
  padding: 0;
}

.additional-details ul li {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left !important;
}

/* .video_main{
    width: ;
  } */

@media screen and (max-width: 512px) {
  .additional-details {
    width: 130%;
  }
}

/*For Ripple Button*/

.ripple-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;

  background-color: #ae00ff53;
  position: relative;

  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(0%, 0%);
}

.ripple-circle span {
  /* position: absolute; */
  color: white;
  width: 100px;
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 100px;   */
  /* margin: 0; */
}

.containereve .ripple-circle span {
  display: none;
}

.containereve.active .ripple-circle span {
  display: block;
}

.ripple-circle:before,
.ripple-circle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid white;
  border-radius: 50%;
}

.ripple-circle:before {
  animation: ripple 2s linear infinite;
}

.ripple-circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
