.images-panel{
  overflow-x: hidden;
  min-width: calc(100%);
  min-height: 90vh;
  margin-top: 10em;
  padding: 10px 2em;
}


.image-track{
  display: flex;
  gap: 4vmin;
  position: relative;
  transform: translate(50%,0%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

.concert-image{
  width: 58vmin;
  height: 79vmin;
  object-fit: cover;
  /* filter: blur(10); */
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  object-position: 100% center;
}
