
.rs_images-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery {
  --size: 150px;
  display: grid;
  grid-template-columns: repeat(6,var(--size));
  grid-auto-rows: var(--size);
  margin-bottom: var(--size);
  place-items: start center;
  gap: 5px;
}

.gallery img {
  object-fit: cover;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  clip-path:  polygon(50% 0, 100% 50%, 50% 100%, 0 50%);;
  transition: clip-path 0.25s ease;
  grid-column: auto / span 2;
  border-radius: 5px;
  border: 2px solid purple;
}

.gallery img:nth-child(5n - 1) {
  grid-column: 2/ span 2;
}

.gallery img:hover, .gallery img:focus {
  clip-path:  polygon(0 0, 100% 0, 100% 100%, 0% 100%);;
  z-index: 10;
  /* transition: clip-path 0.25s ease; */
}

.img-transition{
  clip-path:  polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
  /* background-color: white; */
  /* opacity: 0.5; */
}

/* .gallery img:focus {
  outline: 1px dashed black;
  outline-offset: -5px;
} */

@media screen and (min-width:500px) and (max-width:619px) {
    .gallery{
      --size:200px;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .gallery img{
      box-shadow: 2px 2px 2px 1px rgb(161, 21, 255); ;
    }
}

@media screen and (min-width:620px) and (max-width:759px) {
    .gallery{
      --size:100px;
    }
}

@media screen and (min-width:760px) and (max-width:999px){
    .gallery{
      --size:120px;
    }
}

@media (min-width:1000px) {
    .gallery{
      --size:150px;
    }
}

@media screen and (min-width:300px) and (max-width:619px) {
  .gallery{
    --size:180px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}