.images-container{
  width: 100%;
  height: 100vh;
}

.slider{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slide-wrapper{
  width: max-content;
  padding: 0px 150px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.slide{
  width: 600px;
  height: 500px;
  background-color: inherit;
}

.grab img{
  width: 40px;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(171, 37, 255, 0.8) 0 0 40px -4px;
}

.marker-wrapper{
  position:absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: 100vh;
}

.marker{
  position: relative;
  width: 2px;
  height: 100%;
  background-color: white;
}


.marker::before{
  position: absolute;
  content: "";
  display: block;
  top: 50px;
  left: -20px;
  width: 40px;
  height: 40px;
  background:url('src/assets/images/temp/music.png');
  /* border:2px solid white; */
  border-radius: 100%;
}

.marker::after{
  position: absolute;
  content: "";
  display: block;
  top: 50px;
  left: -20px;
  width: 40px;
  height: 40px;
  background:white;
  border:2px solid white;
  border-radius: 100%;
}

.next-block{
  height:100vh;
  background:blue;
}