.contact_header_img{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #1b1b1b77;
}
.text-on-image-contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
    .contact_header_img{
        height: 300px;
    }

}
#heading_contact_us{
  border-bottom: none;
  font-weight: 600;
}
#contact{
  color: var(--white) !important;
  font-family: var(--text-family) !important;
}
.contact {
  text-align: center;
}

.grid-about {
  display: grid;
  /* grid-template-columns: auto auto; */
  width: 98%;
}

#heading_contact {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.hoaho {
  margin: 1rem 0 4rem 0;
  text-align: center;
}

.headpics {
  display: flex;
  justify-content: center;
}

.hoaho>img {
  width: 50%;
  margin-bottom: 1rem;
}

.name {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.about-info {
  margin-bottom: 2rem;
  text-align: left;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.contact-details {
  text-align: center;
  color: var(--icon-color) !important;
  margin: auto auto;
}

.p-details {
  margin-bottom: 0.25rem;
}

#designation{
  color: var(--icon-color) !important;
}

.extra-info-title {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.125rem;
  font-weight: 500;
}

.extra-info-text {
  margin-bottom: 1rem;
  /* color: #808080; */
  color: var(--white);
}

#contact iframe {
  margin: 2rem auto;
}

.tb-logo1,
.address {
  display: none;
}

@media screen and (max-width: 800px) {
  .headpics {
    display: block;
  }
}

@media screen and (max-width: 996px) {
  .about-info {
    text-align: center;
  }
}

@media screen and (max-width: 996px) {
  .grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 996px) {
  .tb-logo {
    display: none;
  }

  .tb-logo1 {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .grid-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .section-title {
    margin: 0;
  }
}

@media screen and (max-width: 996px) and (min-width: 768px) {
  .tb-logo {
    display: block;
  }

  .tb-logo1 {
    display: none;
  }

  .address {
    display: block;
    text-align: center;
    margin: auto auto;
  }

  .grid-address {
    display: none;
  }

  .contact {
    margin: auto auto;
  }

  .address-details {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 40px;
  }

  iframe {
    height: 250px;
    width: 100%;
    margin-bottom: 40px;
  }

  .contact-info {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
  }

  .phone-info {
    padding-right: 20px;
  }

  .phone-icon::before {
    /* font-family: "FontAwesome"; */
    content: "\f095";
    margin-right: 5px;
    color: var(--icon-color);
  }

  .email-icon::before {
    /* font-family: "FontAwesome"; */
    content: "\f0e0";
    margin-right: 5px;
    color: var(--icon-color);
  }

  .address-icon::before {
    /* font-family: "FontAwesome"; */
    content: "\f3c5";
    margin-right: 5px;
    color: var(--icon-color);
  }
}

@media screen and (min-width: 997px) {
  .about_section {
    padding: 0px 40px;
  }

  .heads_section {
    display: flex;
    justify-content: center;
  }

  .heads_info {
    width: 40%;
  }
}

/* added by abdeali */

.conatctHead{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem !important;
  
}
.conatctHead i{
  color: var(--icon-color);
}
.conatctHead a{
  text-transform: lowercase !important;
}
/*added by abdeali */

.p-details {
color: var(--white) !important;
}

.p-details:hover {
color: var(--color-onHover-Theme) !important;
} 

.mailinfo a{
  text-transform: lowercase !important;
}
.hoaho{
  line-height: 1.1;
}
.headsinfo p{
  line-height: 0.1;
}

/* changed by abdeali */

.tbLogo{
  filter: hue-rotate(245deg) drop-shadow(2px 4px 6px black) contrast(1.5) !important;
  width:300px;
}
