.media_header_img{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #1b1b1b77;
}
.text-on-image-media{
    /* margin: auto;
    font-size: 3rem;
    color: var(--yellow); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
    .media_header_img{
        height: 300px;
    }

}
#heading_media{
  border-bottom: none;
  font-weight: 600;
}
.section-xs{
        padding: 50px 0;
        /* background-color: white !important; */
}

#heading_media{
    /* color: black !important; */
}

.header_media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_Media {
    font-family: var(--heading-family) !important;
    font-size: 2.25rem;
    letter-spacing: 3px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--icon-color);
    text-align: center;
    font-weight: 400;
    margin: 1rem 1rem;
    /* color: var(--white); */
}