.schitron_header_img{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #1b1b1b77;
}
.text-on-image-schitron{
    /* margin: auto;
    font-size: 3rem;
    color: var(--yellow); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
    .schitron_header_img{
        height: 300px;
    }

}
#heading_schitron{
  border-bottom: none;
  font-weight: 600;
}
.scitron-des-text{
width: 80%;
margin: auto;
position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px 40px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: var(--box-bg) !important;
  box-shadow: var(--card-shadow);
  border: var(--card-border);
  font-weight: 400 !important;
word-spacing: 3px;

}
.scitron-des{
      color: var(--white);
  margin-top: -20px;
  background: none;
  font-family: "Karla", sans-serif;
  line-height: 1.4;
  font-size: 1.1rem;
      text-transform: none;
}
.robo, .glass{
    width: 80%;
    margin: auto;
position: relative;
  margin-bottom: 40px;
  padding: 50px 40px;
  /* padding-bottom: 60px; */
  border-radius: 10px;
  background-color: var(--box-bg) !important;
  box-shadow: var(--card-shadow);
  border: var(--card-border);
  font-weight: 400 !important;
    word-spacing: 3px;
}
.img-container{
    padding: 0;
    margin: 60px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.img-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70vh;

}

.item{
    flex: 1 1 0; 
    /* grow, shrink and basis */
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
    border-radius: 3px;
    -webkit-filter: grayscale(100%); 
  filter: grayscale(90%);
}

.item-1{
    background-image: url(https://res.cloudinary.com/doe7b5us3/image/upload/v1674756116/Kaleido/schitron1_fi8njl.jpg);
}
.item-4{
    background-image: url(https://res.cloudinary.com/doe7b5us3/image/upload/v1674756116/Kaleido/schitron2_dunh2e.jpg);
}
.item-2{
    background-image: url(https://res.cloudinary.com/doe7b5us3/image/upload/v1674756116/Kaleido/schitron4_jk5vnk.jpg);
}
.item-3{
    background-image: url(https://res.cloudinary.com/doe7b5us3/image/upload/v1674756118/Kaleido/schitron5_i0d6sa.jpg);
}
.item:hover{
    flex: 7 1 0;
        -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

@media screen and (max-width: 700px){
    .img-wrap{
        flex-direction: column;
            height: 90vh;
    }
    .scitron-des-text{
          padding: 40px 20px;
    }
        .robo, .glass{
          padding: 40px 25px;
          padding-bottom: 20px;
    }
}

