/* *************   Styling in Footer(Contact) *************** */

#footer {
    background-color:var(--footer-background);
    border-top: 1px solid #3a343461;
    margin-top: 2rem;
    /* color: var(--footer-text-color) !important; */
}

#footer .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

#footer p,a{
    font-family: var(--text-family) !important;
}

/*  ---------- Styling in Newslwtter ---------- */

#footer_div_newsLetter {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 1.56em 0px 1.56em 1.56em;
}

.div_footer_header {
    display: flex;
    justify-content: center;
}

#newsletter_info {
    margin: 1.19em 0em;
    width: 100%;
    font-size: 1.12em;
    letter-spacing: 1px;
    color: #FFFFFF !important;

    /* By Kareena */
    text-transform: none;

}

#footer_form {
    margin: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    /* background-color: #1b3438; */
    /* background-color:#161717db; */
    border-radius: 7px;
    flex-wrap: wrap;

    background-color: var(--footer-email-Bg);
}

#email-textbox {
    width: 100%;
    height: 2.62em;
    padding: 0em 0.625em;
    border: none;
    outline: none;
    font-size: 1.125em;
    letter-spacing: 2px;
    color: #FFFFFF;
    /* background-color: #1b3438; */
    /* background-color:##161717db; */
    /* background-color:#161717db; */

    /* Added By Kareena  */
    
    /* background-color: var(--background-color); -> don't use it changes in light theme */
    
    background-color: var(--footer-email-Bg);
    border-radius: 5px;

    text-transform: none !important;
}

#div_mail {
    flex-grow: 2;
}


::placeholder {
    color: white;
    font-weight: 100;
    opacity: 1;
}

.footer_btn {
    margin: 0.06em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.06em;
    height: 2.5em;
    box-sizing: border-box;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 5px;
    color: var(--footer-icon-color);
    /* background-color: #1b3438; */
    /* background-color:#000000; */
    /* border: 0.5px solid var(--footer-icon-color); */
    
    /* Added By Kareena  */
    /* background-color: var(--background-color); -> don't use it changes in light theme */
    border-radius: 5px;
    /* border: 0.5px solid var(--border-yellow); -> don't use it changes in light theme */
    cursor: pointer;

    /* changes due to light theme  */
    background-color: var(--footer-btn-Bg); 
    border: 0.5px solid var(--footer-icon-color);

}

.footer_btn:hover {
    background-color: #16191a;
}

/*  ---------- Styling in ImagePart ---------- */

#footer_div_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0px 0px 0px;
}

.footer_msu_logo {
    margin-bottom: 1em;
}

#img_msulogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(100%);
}

#img_msulogo:hover {
    filter: invert(200%) drop-shadow(0 0 0 var(--footer-icon-color));
    /* color: var(--footer-icon-color); */
}

.footer_social_media {
    width: 78%;
    margin-top: 0.75em;
}

.media_icons {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
}

.social {
    font-size: 1.62em;
    transition: all 0.2s;
}

.social:hover {
    color: var(--footer-icon-color);
    transform: scale(1.5);
}

/*  ---------- Styling in Contact ---------- */

#footer_div_contact {
    display: flex;
    flex-direction: column;
    font-size: 1.12em;
}

.Phone_div {
    flex-wrap: wrap;
}

.Parent_Footer_Col3 {
    font-size: 16px;
}

#webTeamBtn {
    width: 7em;
    height: 2em;
    font-size: 1.2em;
}

#div_teambtn {
    flex-grow: 2;
    justify-content: end;
    display: flex;
}
/* By Kareena */
#mail-link-1, #mail-link-2, #address{
    text-transform: none;
}
/* -------  Utility classes --------  */


/* Important : Parent Class Of all Footer Element */

.Parent_Footer {
    font-size: 16px;
}

.Parent_Footer_Col3 {
    font-size: 16px;
}

/* Styling in Item */
.footer_Item {
    padding: 1.56em;
}

.footer_header {
    color: var(--white-not-change);
    font-size: 2.3em;
    letter-spacing: 3px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--footer-icon-color);
}

.gallery_header {
    font-size: 2.3rem;
    letter-spacing: 3px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--footer-icon-color);
}

.footer_hr {
    border: 1px solid var(--footer-icon-color);
    margin-top: 5px;
    width: 80%;
}

.fa {
    color: #FFFFFF;
}

.footer_InDetail {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1.25em;
    margin-top: 1.56em;
}

.contact_icon {
    color: var(--footer-icon-color);
    font-size: 1.7em;
}

/* ------------- Bootstrap classes -------------------  */

#footer p {
    margin-top: 0;
    margin-bottom: 0em;
}

#footer a {
    text-decoration: none;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.footer_P_hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.footer_P_hover:hover {
    color: var(--footer-icon-color);
}

/* change in media */

@media screen and (max-width:425px) {
    
    .Parent_Footer_Col3 {
        padding: 1rem;
    }
    
}
