.glimpse-main{
  width: 100%;
  overflow-x: hidden;
}

.yt-videos {
  padding: 0px 10px;
}
.glimpse {
  display: block;
  padding: 10px 10px;
}

@media (min-width: 786px) {
  .glimpse {
    display: inline-block;
  }
}

.glimpse iframe:hover {
  opacity: 0.8;
  border: 2px solid var(--border-yellow);
}
.glimpse iframe {
  width: 100%;
  border-radius: 5px;
  padding: 0.1rem;
  background: none;
  margin: 0;
}

/* Flashback Friday */
.flash-video {
  padding: 0px 10px;
  margin: 0 15%;
  margin-top: 2%;
}
.ig-overlay {
  background: none;
}
.ig-overlay img {
  height: 100%;
  width: auto;
  display: block;
  background: none;
}
.link {
  display: inline-block;
  position: relative;
  padding: 15px;
}

.link:hover .imagef {
  opacity: 0.3;
  background-color: var(--low-opacity-layer);
  border: 2px solid var(--border-yellow);
}
.imagef {
  border-radius: 5px;
  width: 100%;
}
.link .ig-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
  z-index: 1;
  opacity: 0;
}
.link:hover .ig-overlay {
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 1150px) {
  .flash-video {
    padding: 0px 0px;
    margin: 0 8%;
  }
}
@media screen and (max-width: 991px) {
  .flash-video {
    margin: 0 8%;
  }
}
@media screen and (max-width: 536px) {
  .flash-video {
    margin: 0 10%;
  }
}
