:root{
   --timeline-color:#d568ff;
}

#history{
  overflow-x: hidden;
}

@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
  font-style: normal;
  font-weight: bold;
}

.history_header_img{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #1b1b1b77;
}
.text-on-image-history{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
    .history_header_img{
        height: 300px;
    }

}

#history_heading{
  border-bottom: none;
  font-weight: 600;
}

.ag-format-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  position: relative;
}

/*-----------------------------------------*/

.timeline-list{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  gap: 5em;
  margin-top: 10em;
}

.timeline-item{
  color: #FFF;
  display: flex;
  gap: 10em;
}

.timeline-header{
  display: flex;
  position: relative;
}

.timeline-heading{
  position: relative;
  min-width: 100%;
  z-index: 10;
  margin-top: 10px;
}

.timeline-header .timeline-year{
  height: 45px;
  display: inline-block;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  transform: translate(-105%,-50%);
  background-color: #0f0f0f;
  z-index: 1;
  padding: 0px 5px;
}

.timeline-item > div{
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.main-content{
  padding: 10px 10px;
  max-width: calc(70%);
  border: 1px solid gray;
  z-index: 20;
  background-color: #0f0f0f;
  position: relative;
}

.branch{
  display: block;
  flex-grow: 1;
  /* border-top-left-radius: 100%; */
}


.branch{
  position: absolute;
  z-index: 1;
}

.timeline-item:nth-child(odd) > div .branch{
  transform: translateY(-50%) scale(1, 1);
  right: 0;
}

.timeline-item:nth-child(even) > div .branch{
  transform: translateY(-50%) scale(-1, 1);
  left: 0;
}

.timeline-item:nth-child(odd), .timeline-item:nth-child(odd) > div{
  flex-direction: row;
}
.timeline-item:nth-child(even), .timeline-item:nth-child(even) > div{
  flex-direction: row-reverse;
}


.timeline-item path{
  stroke: var(--timeline-color);
  stroke-dashoffset: 500;
  stroke-dasharray: 500;
  transition: all 900ms ease-in;
}

.timeline-item path.path-animate{
  stroke-dasharray:252;
}

.branch{
  transform: scale(0.5,0.5);
}


/*-----------------------------------------*/

.ag-timeline-block {
  padding: 50px 0 200px 0; /*important*/
}

.ag-timeline_line {
  width: 2px;
  /* background-color: #393935; */


  position: absolute;
  top: 2px;
  left: 50%;
  bottom: -50px;
  background-color: #FFF;
  /* overflow-y: hidden; */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 0px;
  max-height: calc(100%);
  position: absolute;
  background: var(--timeline-color);
  border-radius: 100px;
  box-shadow: 0 0 30px 4px var(--timeline-color);
  transform-origin: left;
  z-index: 100;
}


/* 
  @media only screen and (max-width: 479px) {}

@media (min-width: 768px) and (max-width: 979px) {}

@media (min-width: 980px) and (max-width: 1161px) {} 
*/

@media (max-width:1000px) {
    .branch{
      display: none;
    }

    .timeline-item > div{
      width: 100%;
      justify-content: center;
    }

    .main-content{
      max-width: calc(100%);
    }

  
}

@media (min-width:1500px){
    .js-timeline{
      max-width: 1500px;
    }
}

/* added by abdeali */
