#acco-header{
    padding: 0;
}
.acco_header_img{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #1b1b1b77;
}
.text-on-image-acco{
    /* margin: auto;
    font-size: 3rem;
    color: var(--yellow); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#heading_acco{
  border-bottom: none;
  font-weight: 600;
}
@media screen and (max-width: 500px) {
    .acco_header_img{
        height: 300px;
    }

}
@media screen and (max-width: 400px) {
    .text-on-image{
        font-size: 2rem;
    }

}
.reveal-soon-text{
    font-size: 6rem;
    color: var(--yellow);
    font-family: var(--heading-family);
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 840px) {
    .reveal-soon-text{
    font-size: 4rem;
}
}

@media screen and (max-width: 570px) {
    .reveal-soon-text{
    font-size: 3rem;
}
}

@media screen and (max-width: 440px) {
    .reveal-soon-text{
    font-size: 2rem;
}
}
